# Visual Studio
.vs/
*.sln
*.vcxproj*
*.user

# Build directories
build/
out/
cmake-build-*/

# CMake
CMakeLists.txt
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
*.cmake
cmake_install.cmake

# Compiler outputs
*.o
*.obj
*.exe
*.dll
*.lib
*.a

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dependencies
llvm-build/
